.App {
  text-align: center;
}
.flex{
  width: 30%;
  display: flex;
  align-items: center;
 font-size: 15px;
  justify-content: space-between;
}
.flex img{
  height: 30px;
  width: 30px;
  padding: 5px;
  border-radius: 50%;
}
.buton{
  text-align: left;
}
.buton button{
  padding: 5px 15px;
  margin: 20px;
  margin-left: 100px; 
}
.navbar{
  background-color: #111010;
  display: flex;
  align-items: center;
}

.topnav {
  overflow: hidden;
  display: flex;
  width: 30%;
  padding: 14px 16px;
  align-items: center;
  justify-content: space-between;
}
.topnav button{
  height: 30px;
  padding: 0px 15px;
  margin-top: 5px;
}


.topnav img{
  width: 40px;
  height: 40px;
}

.topnav input[type=text] {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  border: none;
  outline: none;
  font-size: 17px;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


